<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{pagetitle}}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(src) css/plugins.css -->
<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
<!-- endbuild -->
<!-- build:css(.tmp) css/all.css -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/scaffolding.css">
<link rel="stylesheet" href="css/mainnav.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/socialbuttons.css">
<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="css/pageheaders.css">
<link rel="stylesheet" href="css/ads.css">
<link rel="stylesheet" href="css/callout.css">
<link rel="stylesheet" href="css/docssection.css">
<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/examples.css">
<link rel="stylesheet" href="css/code.css">
<link rel="stylesheet" href="css/responsivetest.css">
<link rel="stylesheet" href="css/glyphicons.css">
<link rel="stylesheet" href="css/customizer.css">
<link rel="stylesheet" href="css/misc.css">
<link rel="stylesheet" href="css/pygments-manni.css">
<!-- endbuild -->
<!-- build:js(src) js/modernizr.js -->
<script src="components/modernizr/modernizr.js"></script>
<script src="components/css_browser_selector/css_browser_selector.js"></script>
<!-- endbuild -->
