<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    {% include "_includes/header.html" %}
</head>
<body>
    <a class="sr-only" href="#content">Skip navigation</a>
    {% block bsdocsnav%} {% include "_blocks/header.html" %} {% endblock %}
    <div class="bs-header" id="content">
        <div class="container">
            {% block bsheader %}
                <h1>{{pagetitle}}</h1>
                <p>{{pagedescription}}</p>
            {% endblock %}
        </div>
    </div>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-3">
                <div class="bs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-sidenav">
                    </ul>
                </div>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-9 maincontent">
                {% block content %}
                <div class="bs-docs-section">
                    <h1>Your content go here!</h1>
                </div>
                {% endblock %}
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container bs-docs-container -->
    {% include "_includes/footer.html" %}
    {% block footer%} {% include "_blocks/footer.html" %} {% endblock %}
</body>
</html>
